table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #848484;
}

body {
    font-family: Arial;
}

input[type=text] {
    width: 50%;
    padding: 6px 20px;
    margin: 4px 0;
    box-sizing: border-box;
}